<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <title>学生成绩查询</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body{
            background-color: rgb(240, 240, 240);
        }
    </style>
</head>
<body>
    <div style="background: #0483d4; border: 1px solid #e7e7e7;line-height: 60px; margin-bottom: 15px">
        <img src="{% static 'image/logo_jw_w2.png' %}" style="padding-left: 80px">
        <span style="color: white; font-size: 25px; vertical-align: middle">学生成绩查询</span>
    </div>
    <!--top_end-->
    <div class="container" style="margin-left: 70px; margin-top: 1px; padding: 0px; margin-right: 70px; width: auto; background-color: white; height: 600px;">
        <div class="row">
            <div class="col-md-12" style="line-height: 70px;border: 1px solid #eeeeee;">
                <form method="post" action="/find_grade/" class="form-group form-inline">
                    {% csrf_token %}
                    <div class="col-md-4 " style="padding-left: 100px">
                        <input name="id" value="{{ student.student_id }}" hidden>
                        <label>
                            <span style="color: red">*</span>
                            学年
                        </label>
                        <select class="form-control" name="year" style="width: 260px">
                            <option value="2019-2020">2019-2020</option>
                            <option value="2018-2019">2018-2019</option>
                        </select>
                    </div>
                    <div class="col-md-4" style="padding-left: 100px">
                        <label>
                            <span style="color: red">*</span>
                            学期
                        </label>
                        <select class="form-control" name="number" style="width: 260px">
                            <option value="-1">1</option>
                            <option value="-2">2</option>
                            <option value="-3">3</option>
                        </select>
                    </div>
                    <div class="col-md-4" style="padding-left: 300px;">
                        <button type="submit" class="btn btn-primary btn-sm  btn-group-vertical" >
                            <span class="glyphicon glyphicon-search"></span>
                            查询
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div style="margin-top: 40px;">
            <div style="display: block; opacity: 1; transition: opacity 0.15s linear 0s; font-weight: bolder;">
                <table style="width: 98%; margin-left: 10px;" class="table table-bordered text-center">
                    <tbody>
                        <tr>
                            <td width="">
                                <span class="time">课程号</span>
                            </td>
                            <td width="">
                                <span class="time">课程名</span>
                            </td>
                            <td width="">
                                <span class="time">成绩</span>
                            </td>
                            <td width="">
                                <span class="time">开设学院</span>
                            </td>
                        </tr>
                        {% for i in grade_list %}
                        <tr style="font-weight: normal">
                            <td width="">
                                <span class="time">{{ i.id }}</span>
                            </td>
                            <td width="">
                                <span class="time">{{ i.name }}</span>
                            </td>
                            <td width="">
                                <span class="time">{{ i.grade }}</span>
                            </td>
                            <td width="">
                                <span class="time">{{ i.college }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="footer" style="padding: 25px">
	<p style="text-align: center; color: rgb(128, 153, 175)">版权所有&copy; Copyright 1999-2017  正方软件股份有限公司　　中国·杭州西湖区紫霞街176号 互联网创新创业园2号301</p>
    </div>
</body>
</html>