<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <title>学生课表查询</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: rgb(240, 240, 240);
        }
        .table {
            max-width: 100%;
            margin-bottom: 20px;
        }
        .table-bordered {
            border: 1px solid rgb(221, 221, 221);
        }
        .text-center {
            text-align: center;
        }
        .time {
            text-align: center;
            color: rgb(102, 102, 102);
            font: 18px/25px "Microsoft Yahei";
        }
        .festival {
            color: rgb(102, 102, 102);
            text-align: center;
            min-height: 60px;
            display: block;
            height: auto !important;
            font: italic bold 18px/60px Verdana;
        }
        .td_wrap {
            word-wrap: break-word;
            word-break: break-all;
        }
    </style>
</head>
<body>
    <div style="background: #0483d4; border: 1px solid #e7e7e7;line-height: 60px; margin-bottom: 15px">
        <img src="{% static 'image/logo_jw_w2.png' %}" style="padding-left: 80px">
        <span style="color: white; font-size: 25px; vertical-align: middle">学生课表查询</span>
    </div>
    <!--top_end-->
    <div class="container" style="margin-left: 70px; margin-top: 1px; padding: 0px; margin-right: 70px; width: auto; background-color: white">
        <div class="row">
            <div class="col-md-12" style="line-height: 70px;border: 1px solid #eeeeee;">
                <form method="post" action="/find_schedule/" class="form-group form-inline">
                    {% csrf_token %}
                    <div class="col-md-4 " style="padding-left: 100px">
                        <label">
                            <span style="color: red">*</span>
                            学年
                        </label>
                        <select class="form-control" name="year" style="width: 260px">
                            <option value="2019-2020">2019-2020</option>
                            <option value="2018-2019">2018-2019</option>
                        </select>
                    </div>
                    <div class="col-md-4" style="padding-left: 100px">
                        <label ">
                            <span style="color: red">*</span>
                            学期
                        </label>
                        <select class="form-control" name="number" style="width: 260px">
                            <option value="-1">1</option>
                            <option value="-2">2</option>
                            <option value="-3">3</option>
                        </select>
                    </div>
                    <div class="col-md-4" style="padding-left: 300px;">
                        <input name="id" value="{{ student.student_id }}" hidden>
                        <button type="submit" class="btn btn-primary btn-sm  btn-group-vertical" >
                            <span class="glyphicon glyphicon-search"></span>
                            查询
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12 " style="border: 1px solid #eeeeee; line-height: 100px">
                <span style="text-align: center; display: block; color: rgb(102,102,102); font-size: 30px; font-weight: bolder ">{{ student.student_name }}的课表</span>
                <div class="col-md-12" style="line-height: 15px; margin-bottom: 5px;"><span style="color: rgb(102, 102, 102);" class="pull-left">{{ term }}</span></div>
            </div>
            <div class="col-md-12 " style="border: 1px solid #eeeeee; line-height: 50px">
                <div class="col-md-2" style="border-right: 1px solid #eeeeee;text-align: center; display: inline-block">
                    <span class="time">星期</span>
                </div>
                <div class="col-md-10" style="text-align: center; display: inline-block">
                    <span class="time">课表信息</span>
                </div>
            </div>
            <div class="col-md-12 " style="border: 1px solid #eeeeee; line-height: 50px">
                <div class="col-md-2" style="border-right: 1px solid #eeeeee;text-align: center; display: inline-block">
                    <span class="time">星期一</span>
                </div>
                <div class="col-md-10" style="text-align: center; display: inline-block; border-left: 1px solid #eeeeee;">
                    {% for i in course %}
                        {% if i.week == '星期一' %}
                            <span >{{ i.name }}<br>时间: {{ i.time }}&nbsp&nbsp&nbsp地点: {{ i.location }}&nbsp&nbsp&nbsp教师: {{ i.teacher }}<br></span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 " style="border: 1px solid #eeeeee; line-height: 50px">
                <div class="col-md-2" style="border-right: 1px solid #eeeeee;text-align: center; display: inline-block">
                    <span class="time">星期二</span>
                </div>
                <div class="col-md-10" style="text-align: center; display: inline-block; border-left: 1px solid #eeeeee;">
                    {% for i in course %}
                        {% if i.week == '星期二' %}
                            <span >{{ i.name }}<br>时间: {{ i.time }}&nbsp&nbsp&nbsp地点: {{ i.location }}&nbsp&nbsp&nbsp教师: {{ i.teacher }}<br></span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 " style="border: 1px solid #eeeeee; line-height: 50px">
                <div class="col-md-2" style="border-right: 1px solid #eeeeee;text-align: center; display: inline-block">
                    <span class="time">星期三</span>
                </div>
                <div class="col-md-10" style="text-align: center; display: inline-block; border-left: 1px solid #eeeeee;">
                    {% for i in course %}
                        {% if i.week == '星期三' %}
                            <span >{{ i.name }}<br>时间: {{ i.time }}&nbsp&nbsp&nbsp地点: {{ i.location }}&nbsp&nbsp&nbsp教师: {{ i.teacher }}<br></span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 " style="border: 1px solid #eeeeee; line-height: 50px">
                <div class="col-md-2" style="border-right: 1px solid #eeeeee;text-align: center; display: inline-block">
                    <span class="time">星期四</span>
                </div>
                <div class="col-md-10" style="text-align: center; display: inline-block; border-left: 1px solid #eeeeee;">
                    {% for i in course %}
                        {% if i.week == '星期四' %}
                            <span >{{ i.name }}<br>时间: {{ i.time }}&nbsp&nbsp&nbsp地点: {{ i.location }}&nbsp&nbsp&nbsp教师: {{ i.teacher }}<br></span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 " style="border: 1px solid #eeeeee; line-height: 50px">
                <div class="col-md-2" style="border-right: 1px solid #eeeeee;text-align: center; display: inline-block">
                    <span class="time">星期五</span>
                </div>
                <div class="col-md-10" style="text-align: center; display: inline-block; border-left: 1px solid #eeeeee;">
                    {% for i in course %}
                        {% if i.week == '星期五' %}
                            <span >{{ i.name }}<br>时间: {{ i.time }}&nbsp&nbsp&nbsp地点: {{ i.location }}&nbsp&nbsp&nbsp教师: {{ i.teacher }}<br></span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 " style="border: 1px solid #eeeeee; line-height: 50px">
                <div class="col-md-2" style="border-right: 1px solid #eeeeee;text-align: center; display: inline-block">
                    <span class="time">星期六</span>
                </div>
                <div class="col-md-10" style="text-align: center; display: inline-block; border-left: 1px solid #eeeeee;">
                    {% for i in course %}
                        {% if i.week == '星期六' %}
                            <span >{{ i.name }}<br>时间: {{ i.time }}&nbsp&nbsp&nbsp地点: {{ i.location }}&nbsp&nbsp&nbsp教师: {{ i.teacher }}<br></span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 " style="border: 1px solid #eeeeee; line-height: 50px" onmouseover="">
                <div class="col-md-2" style="border-right: 1px solid #eeeeee;text-align: center; display: inline-block">
                    <span class="time">星期日</span>
                </div>
                <div class="col-md-10" style="text-align: center; display: inline-block; border-left: 1px solid #eeeeee;">
                    {% for i in course %}
                        {% if i.week == '星期日' %}
                            <span >{{ i.name }}<br>时间: {{ i.time }}&nbsp&nbsp&nbsp地点: {{ i.location }}&nbsp&nbsp&nbsp教师: {{ i.teacher }}<br></span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--table_end-->
    <div class="footer" style="padding: 25px">
	<p style="text-align: center; color: rgb(128, 153, 175)">版权所有&copy; Copyright 1999-2017  正方软件股份有限公司　　中国·杭州西湖区紫霞街176号 互联网创新创业园2号301</p>
    </div>
</body>
</html>
