<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <title>课程成绩管理</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: rgb(240, 240, 240);
        }
    </style>
</head>
<body>
    <div style="background: #0483d4; border: 1px solid #e7e7e7;line-height: 60px; margin-bottom: 15px">
        <img src="{% static 'image/logo_jw_w2.png' %}" style="padding-left: 80px">
        <span style="color: white; font-size: 25px; vertical-align: middle">课程成绩管理</span>
    </div>
    <div class="container" style="margin-left: 70px; width: auto; background: white; margin-right: 70px; min-height: 600px;">
        <div class="row">
            <div class="col-md-9">
                <div class="panel-group" id="accordion" style="margin-top: 20px;">
                    {% for i in course %}
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background: #0483d4; color: white">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion"
                                        href="#{{ i.course_id.course_id }}" style="text-decoration: none">
                                            <span>{{ i.course_id.course_name }}</span>
                                            <span class="pull-right">{{ i.course_id.course_id }}</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{ i.course_id.course_id }}" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <form action="/grade_manage/" method="post">
                                        {% csrf_token %}
                                            <input hidden name="course_id" value="{{ i.course_id.course_id }}">
                                            <input hidden name="term" value="{{ i.term }}">
                                            <input hidden name="teacher_id" value="{{ i.teacher_id.teacher_id }}">
                                            <div class="col-md-6">
                                                <p>
                                                    课程号:{{ i.course_id.course_id }}
                                                </p>
                                                <p>
                                                    开课学期:{{ i.term }}
                                                </p>
                                            </div>
                                            <div class="col-md-6"></div>
                                            <div class="col-md-12">
                                                <input type="submit" class="btn btn-primary btn-sm  btn-group-vertical pull-right" name="action" value="学生成绩查询" >
                                                <input type="submit" class="btn btn-primary btn-sm  btn-group-vertical pull-right" style="margin-right: 20px;" name="action" value="学生成绩录入">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer" style="padding: 25px">
	<p style="text-align: center; color: rgb(128, 153, 175)">版权所有&copy; Copyright 1999-2017  正方软件股份有限公司　　中国·杭州西湖区紫霞街176号 互联网创新创业园2号301</p>
    </div>
</body>
</html>