<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <title>修改密码</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body{
            background-color: rgb(240, 240, 240);
        }
    </style>
</head>
<body>
    {% if is_submit == 1 %}
        <script>
            window.onload=function () {
                alert("您输入的旧密码有误！")
            }
        </script>
        {% elif is_submit == 2 %}
        <script>
            window.onload=function () {
                alert("您两次输入的新密码不匹配！")
            }
        </script>
        {% elif is_submit == 3 %}
        <script>
            window.onload=function () {
                alert("修改成功！")
            }
        </script>
    {% endif %}
    <div style="background: #0483d4; border: 1px solid #e7e7e7;line-height: 60px; margin-bottom: 15px">
        <img src="{% static 'image/logo_jw_w2.png' %}" style="padding-left: 80px">
        <span style="color: white; font-size: 25px; vertical-align: middle">修改密码</span>
    </div>
    <!--top_end-->
    <div class="container" style="margin-left: 70px; margin-top: 1px; padding: 0px; margin-right: 70px; width: auto; background-color: white; height: 600px;">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3" style="margin-top: 50px;">
                <form action="/teacher_change_password/" method="post">
                    {% csrf_token %}
                    <input hidden name="id" value="{{ teacher.teacher_id }}">
                    <span style="font-weight: bold; font-size: 15px; padding: 5px;">输入旧密码:</span><br>
                    <input type="password" name="old" class="form-control"><br><br>
                    <span style="font-weight: bold; font-size: 15px; padding: 5px;">输入新密码:</span><br>
                    <input type="password" name="new1" class="form-control"><br><br>
                    <span style="font-weight: bold; font-size: 15px; padding: 5px;">确认新密码:</span><br>
                    <input type="password" name="new2" class="form-control"><br><br>
                    <button type="submit" class="btn btn-primary btn-sm  btn-group-vertical pull-right" >
                        修改
                    </button>
                </form>
            </div>

        </div>
    </div>
    <div class="footer" style="padding: 25px">
	<p style="text-align: center; color: rgb(128, 153, 175)">版权所有&copy; Copyright 1999-2017  正方软件股份有限公司　　中国·杭州西湖区紫霞街176号 互联网创新创业园2号301</p>
    </div>
</body>
</html>