<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>北京化工大学教务管理系统</title>
    <link rel="stylesheet" type="text/css" href="static/css/reset.css" />
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="color: white; background-color: rgb(4,131,212); padding: 10px; width: auto" >
    <img src="static/image/logo_jw_d.png"/>
    <span style="font-size: 20px; text-align: left">北京化工大学教务管理系统</span>
    <div>
        <img src="static/image/user_logo.jpg" class="img-circle" style="width: 30px; height: 30px; float: right"   />
    </div>
    <img src="static/image/user_logo.jpg" class="img-circle" style="width: 30px; height: 30px; float: right"   />
</div>
<div class="container" style="margin-left: 0px">
  <ul class="nav nav-pills" role="tablist" >
    <li class="active" ><a href="#">主页</a></li>
    <li><a href="#">选课</a></li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      信息维护 <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">学生个人信息维护</a></li>
      </ul>
    </li>
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      信息查询 <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">课表查询</a></li>
        <li><a href="#">成绩查询</a></li>
        <li><a href="#">课程查询</a></li>
      </ul>
    </li>
  </ul>
</div>
<div class="row clearfix">
		<div class="col-md-4 column" style="background-color: red">

        </div>
		<div class="col-md-4 column">
		</div>
		<div class="col-md-4 column">
		</div>
</div>
<div style="background-color: rgb(4,131,212); text-align: center;">
	<p style="color: white; padding: 10px">版权所有&copy; Copyright 1999-2017  正方软件股份有限公司　　中国·杭州西湖区紫霞街176号 互联网创新创业园2号301</p>
</div>
</body>
</html>