<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册成功</title>
    <script>
        window.onload = function () {
            let count = document.getElementById('count');
            let number = 5;
            let counter = setInterval(()=>{
                    if(number==0){
                        clearInterval(counter);
                        window.location.href = "/";
                    }
                    count.innerHTML = `${number}`;
                    number --;
                },1000)
        }
    </script>
</head>
<body>
注册成功，准备跳转回登录界面<a href="/">立即返回</a>
<div id="count"></div>
</body>
</html>