<!DOCTYPE html>
<html>

<head>
    <title>index</title>
    <meta charset="utf-8"/>
</head>
<body>
    <div class="registerbox">
        <h3>用户注册</h3>
        <form method="post" action="/register_judge/">
            {% csrf_token %}
            账号(学号/工号) <input type="text" value="{{ Account }}" name="account" placeholder="账号" required>
            {% if isAccountError %}
                {{ AccountError }}
            {% endif %}
            <br/>
            密码 <input type="password" value="{{ pwd }}" name="password" placeholder="密码" required>
            {% if isPasswordError %}
                {{ PasswordError }}
            {% endif %}
            <br/>
            邮箱 <input type="email" value="{{ email }}" name="email" placeholder="邮箱" required>
            {% if isEmailError %}
                {{ EmailError }}
            {% endif %}
            <br/>
            手机号 <input type="text" value="{{ phone }}" name="phone" placeholder="手机号" required>
            {% if isPhoneError %}
                {{ PhoneError }}
            {% endif %}
            <br/>
            <input type="radio" name="identity" value="student" checked="{{ checkedStudent }}"><label for="0">学生</label>
            <input type="radio" name="identity" value="teacher" checked="{{ checkedTeacher }}"><label for="1">教师</label>
            <input type="submit" value="注册"><a href="/"><input type="button" value="返回"></a>

        </form>
    </div>
</body>
</html>